[Desktop Entry]
Type=Application
Version=Beta
Name=Install Pardus The Archean
GenericName=Pardus The Archean Installer
Keywords=pardus;system;installer;
TryExec=calamares
Exec=/usr/bin/calamares_polkit %f
Comment=Calamares — System Installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true
