[Desktop Entry]
Type=Application
NoDisplay=true
X-KDE-AliasFor=systemsettings
X-KDE-OnlyShowOnQtPlatforms=wayland
Exec=systemsettings kcm_animations
Icon=preferences-desktop-animations
Name=Animations
Name[ar]=التّحريكات
Name[bg]=Анимации
Name[ca@valencia]=Animacions
Name[ca]=Animacions
Name[cs]=Animace
Name[es]=Animaciones
Name[eu]=Animazioak
Name[fi]=Animoinnit
Name[fr]=Animations
Name[he]=הנפשות
Name[hu]=Animációk
Name[ia]=Animationes
Name[it]=Animazioni
Name[ka]=ანიმაციები
Name[ko]=애니메이션
Name[lv]=Animācijas
Name[nl]=Animaties
Name[pt_BR]=Animações
Name[ru]=Анимация
Name[sl]=Animacije
Name[sv]=Animeringar
Name[tr]=Canlandırmalar
Name[uk]=Анімації
Name[x-test]=xxAnimationsxx
Name[zh_CN]=动效
Name[zh_TW]=動畫效果
